<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/css/aboutstyle.css">
</head>
<body>
    <div class="heading">
        <h1>About Us</h1>
        <p>This Website is used to predict the heart health of a person It 
        improve the patient outcomes, reducing healthcare costs, and optimizing resource allocation.</p>
    </div>
    <div class="container">
        <section class="about">
            <div class="about-image">
                <img src="/static/images/for%20signup.png"> <!-- Corrected image source -->
            </div>
            <div class="about-content">
                <h2>Introduction about Heart Health Prediction</h2>
                <p>The heart failure prediction system typically uses machine learning algorithms to analyze the data and generate a risk score or probability of heart failure. 
                The system may also provide recommendations for further diagnostic testing, referral to a specialist, or preventive interventions.</p>
                <a href="" class="read-more">Read More</a>
            </div>
        </section>
    </div>
</body>
</html>
